*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
#built files
*.apk
*.ap_

*.dex
*.class
.gradle/
build/
local.properties
proguard/
*.log
.idea/


.externalNativeBuild
.idea/modules.xml
.idea/caches/build_file_checksums.ser
/.idea/caches
